<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="app-heading">Welcome, {{user.username}}!</h2>
      <br>
      <button class="btn btn-lg btn-outline-info" id="new-post-bttn"> + New Post</button>
      <h6 id="success" class="success hide">Post Saved</h6>
    </div>
    <div class="col-sm-9">
      <div class="container" id="post-display">
        <div class="row">
        {{#if posts.length}}
          <h3 class="site-text">Your Blog Posts:</h3>
            {{#each posts as |post|}}
              <div class="row give-me-space">
                <div class="card no-pad" id="post-id" data-postID="{{add_dataAttr}}">
                  <a href="#" class="card-header link-black streteched-link">
                    <div class="row col-8 col-sm-6">
                      <h5 class="post-title">{{post.title}}</h5>
                    </div>
                    <div class="col-4 col-sm-6 site-text">
                      Posted by: {{user.username}} on {{format_date post.date_created}}
                    </div>
                  </a>
                  <div class="card-body">
                    <p class="card-text">{{post.content}}</p>
                  </div>
                  <div class="hide">
                    <button type="button" class="btn btn-outline-dark px-5 mx-2" id="update-bttn">Update</button>
                    <button type="button" class="btn btn-outline-dark px-5 mx-2" id="update-bttn">Delete</button>
                  </div>
                </div>
              </div>
            {{/each}}
        {{/if}}
      </div>
    </div>

{{!-- Post Creation Container --}}
      <div class="container hide" id="create-post">
        <div class="row">
          <div class=" card no-pad col-md-12">
            <div class="card-header p-4 site-heading">Create New Console.Blog(Post)</div>
            <div class="m-3">
              <label for="post-title" class="form-label site-heading">Title</label>
              <input type="text" class="form-control" id="post-title" placeholder="Enter Post Title" aria-label="Post Title">
            </div>
            <div class="m-3">
              <label for="post-content" class="form-label site-heading">Content</label>
              <textarea class="form-control" id="post-content" placeholder="Enter Post Content Here..." rows="3"></textarea>
            </div>
            <br>
            <button type="button" class="btn btn-dark col-2 mx-auto" id="create-post">Create Post</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/posts.js"></script>